In [ ]:
import pandas as pd
df = pd.read_csv("../sol/train_data.csv")

In [3]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.values

In [ ]:
df.columns
print("Total Number of columns : ", len(df.columns))

In [5]:
df.ApplicantIncome

0       5849
1       4583
2       3000
3       2583
4       6000
5       5417
6       2333
7       3036
8       4006
9      12841
10      3200
11      2500
12      3073
13      1853
14      1299
15      4950
16      3596
17      3510
18      4887
19      2600
20      7660
21      5955
22      2600
23      3365
24      3717
25      9560
26      2799
27      4226
28      1442
29      3750
       ...
584     2787
585     4283
586     2297
587     2165
588     4750
589     2726
590     3000
591     6000
592     9357
593     3859
594    16120
595     3833
596     6383
597     2987
598     9963
599     5780
600      416
601     2894
602     5703
603     3676
604    12000
605     2400
606     3400
607     3987
608     3232
609     2900
610     4106
611     8072
612     7583
613     4583
Name: ApplicantIncome, Length: 614, dtype: int64

In [ ]:
df.index

In [6]:
#All Indexes(Rows) and 2nd till 2nd Last Columns based on integer number instead of label names
feature_column_names = ['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']
num_feature_cols = len(feature_column_names)
featureSubset = df.iloc[:, 1:12]
featureSubset

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban
6,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban
7,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban
8,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
10,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban
11,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban
12,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban
13,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural
14,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban
15,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban
16,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban
17,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
19,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban
21,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban
23,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural
24,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban
25,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban
26,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban
27,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban
28,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban
29,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban
...,...,...,...,...,...,...,...,...,...,...,...
584,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural
585,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural
586,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban
587,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban
588,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban
589,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban
590,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban
591,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban
592,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
594,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban
595,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural
596,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural
597,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban
600,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban
601,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural
602,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban
603,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural
604,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban
605,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban
606,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban
607,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural
608,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [7]:
featureSubset_array = featureSubset.values
featureSubset_array

array([['Male', 'No', '0', ..., 360.0, 1.0, 'Urban'],
       ['Male', 'Yes', '1', ..., 360.0, 1.0, 'Rural'],
       ['Male', 'Yes', '0', ..., 360.0, 1.0, 'Urban'],
       ...,
       ['Male', 'Yes', '1', ..., 360.0, 1.0, 'Urban'],
       ['Male', 'Yes', '2', ..., 360.0, 1.0, 'Urban'],
       ['Female', 'No', '0', ..., 360.0, 0.0, 'Semiurban']], dtype=object)

In [8]:
# All indexes(rows) and last column
labelSubset = df.iloc[:, 12:13]
labelSubset

    Loan_Status
0             Y
1             N
2             Y
3             Y
4             Y
5             Y
6             Y
7             N
8             Y
9             N
10            Y
11            Y
12            Y
13            N
14            Y
15            Y
16            Y
17            N
18            N
19            Y
20            N
21            Y
22            N
23            N
24            N
25            Y
26            Y
27            Y
28            N
29            Y
..          ...
584           N
585           N
586           Y
587           Y
588           Y
589           N
590           Y
591           N
592           Y
593           Y
594           Y
595           Y
596           N
597           N
598           Y
599           Y
600           N
601           Y
602           Y
603           Y
604           Y
605           N
606           Y
607           Y
608           Y
609           Y
610           Y
611           Y
612           Y
613           N

[614 rows x 1 columns]

In [9]:
type(labelSubset)

pandas.core.frame.DataFrame

In [11]:
import numpy as np

In [26]:
listu = np.random.randn(2,5)
type(listu)

numpy.ndarray

In [40]:
listu

array([[ 0.72834271,  0.17095918,  0.17140855, -1.6737963 ,  0.7035951 ],
       [-0.42096593,  0.87936845, -2.15855898,  1.09599834, -0.1381437 ]])

In [39]:
listu[0:1,0:2]

array([[ 0.72834271,  0.17095918]])

In [41]:
list_p = listu.tolist()
list_p

[[0.7283427061746774,
  0.17095917744395006,
  0.1714085549102547,
  -1.6737963048771036,
  0.7035950953994015],
 [-0.420965927095189,
  0.8793684526036647,
  -2.1585589840098955,
  1.0959983439702288,
  -0.13814369649823788]]

In [37]:
list_p[0:1,0:2]

TypeError: list indices must be integers or slices, not tuple

In [ ]:
labelSubset.values